<li>
  {{#link-to 'question' question.id}}{{question.name}} {{question.content}}
  {{/link-to}}
  {{#if isImageShowing }}
    <p><img src={{question.image}} alt={{question.content}} {{action 'imageHide'}}></p>
  {{else}}
    <button {{action 'imageShow'}}>Image</button>
  {{/if}}
</li>

<button {{action 'addToFavorite' question}}>Add To Favorites</button>
